In [1]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

import psycopg2
import psycopg2.extras
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
from timeit import default_timer as timer
import geopandas as gpd
from shapely.geometry import shape
from shapely.geometry import Point
from descartes import PolygonPatch
from geopandas.tools import sjoin
from tqdm import tqdm_notebook as tqdm
import pandas as pd
import itertools
import pyproj
import haversine
from scipy import spatial
import getpass
import os.path
import fiona
import json
import glob
import ast
import csv
import re
import itertools
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
import numpy as np
import pandas as pd

### Start the gazetteer DB server

Make sure you change your credentials. This is to connect to the DB locally in MySQL:

In [2]:
# read Credentials from the credentials.json file
credentials_config = dict()
with open('./credentials.json') as f:
    credentials_config = json.load(f)

In [3]:
#credentials_config['lwmrelationaldb']['password'] = getpass.getpass(prompt='Enter your password: ')

In [4]:
# Construct connection string
psql_conn_string =\
    "host={0} user={1} dbname={2} password={3} sslmode={4} sslrootcert={5}".format(
                credentials_config['lwmrelationaldb']['host'], 
                credentials_config['lwmrelationaldb']['user'], 
                'gazetteer', 
                credentials_config['lwmrelationaldb']['password'], 
                credentials_config['lwmrelationaldb']['sslmode'], 
                credentials_config['lwmrelationaldb']['sslrootcert'])

In [5]:
gazDB = psycopg2.connect(psql_conn_string) 
print("Connection established!")

cursorGaz = gazDB.cursor(cursor_factory=psycopg2.extras.DictCursor)

Connection established!

### Read GB1900

In [6]:
gb1900df = pd.DataFrame()
with open("./gb1900_gazetteer_complete_july_2018.csv", encoding='UTF-16') as f:
    gb1900df = pd.read_csv(f)

/Users/khosseini/anaconda3/envs/py37torch/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
gb1900df.head()

,pin_id,final_text,nation,local_authority,parish,osgb_east,osgb_north,latitude,longitude,notes
0,52b34d8b695fe90005004e1e,F. P.,Wales,Powys,Llansilin,320836.712742,327820.182715,52.842050,-3.176744,NaN
1,5800a6b92c66dcab3d061796,Parly. & Munl Boro. By.,England,City of London,NaN,531794.825962,180705.741898,51.509918,-0.102246,NaN
2,5800a6782c66dcab3d061786,S. Ps.,England,City of London,NaN,531736.217116,180725.027730,51.510105,-0.103083,NaN
3,57f684f42c66dcab3d01c0dd,Southwark Bridge Stairs,England,City of London,NaN,532199.584123,180696.934434,51.509744,-0.096420,NaN
4,57f685002c66dcab3d01c0e9,St. Paul's Pier,England,City of London,NaN,531987.486097,180745.664556,51.510232,-0.099456,NaN

### Create an approximately British Wiki Gazetteer

In [8]:
start_time = timer()

In [9]:
def find_british_locations(cursorGaz, timer):
    print('Start locations SQL query: {} seconds'.format(timer() - start_time))

    cursorGaz.execute("""
            SELECT * FROM location
            WHERE lat > 50.0
            AND lat < 62.0
            AND lon > -14.0
            AND lon < 3.0
        """)
    results = cursorGaz.fetchall()
    
    main_id = []
    wiki_title = []
    wiki_lat = []
    wiki_lon = []
    page_len = []
    type_loc = []
    population = []
    for r in results:
        main_id.append(r['id'])
        wiki_title.append(r['wiki_title'])
        page_len.append(r['page_len'])
        wiki_lat.append(r['lat'])
        wiki_lon.append(r['lon'])
        type_loc.append(r['type'])
        population.append(r['population'])

    df = pd.DataFrame(
        {'main_id' : main_id,
         'wiki_title': wiki_title,
         'wiki_lat': wiki_lat,
         'wiki_lon': wiki_lon,
         'page_len': page_len,
         'type_loc': type_loc,
         'population': population
        })
    return df

def gaz_to_geodataframe(df):
    gdf = gpd.GeoDataFrame(
        df, geometry=gpd.points_from_xy(df.wiki_lon, df.wiki_lat))

    poly  = gpd.GeoDataFrame.from_file('gb1900_analysis/shapefiles/GBR_adm/GBR_adm0.shp')
    point = gdf

    pointInPolys = sjoin(point, poly, how='left')
    grouped = pointInPolys.groupby('index_right')
    
    britdf = df.iloc[grouped.groups[0]]
    britdf.reset_index(drop=True)
    britdf.to_pickle("brit_wikigazetteer.pkl")
    
    return britdf

def find_british_altnames(cursorGaz, timer):
    print('Start altnames SQL query: {} seconds'.format(timer() - start_time))

    cursorGaz.execute("""
            SELECT altname.* FROM altname
            JOIN location ON location.id=altname.main_id
            WHERE lat > 50.0
            AND lat < 62.0
            AND lon > -14.0
            AND lon < 3.0
        """)
    results = cursorGaz.fetchall()
    
    dAltnames = dict()
    
    for r in results:
        if len(r['altname']) < 50:
            dAltnames[r['id']] = (r['altname'], r['source'], r['main_id'])

    return dAltnames

#### Locations dataframe

In [10]:
locdf = find_british_locations(cursorGaz, timer)
#britdf = gaz_to_geodataframe(locdf)
#britdf.head()
britdf = pd.read_pickle("./brit_wikigazetteer.pkl")
britdf.head()

Start locations SQL query: 0.020157377992291003 seconds

   wiki_id        wiki_title  wiki_lat  wiki_lon                  geometry
0       20     Aberdeenshire   57.1510  -2.12300     POINT (-2.123 57.151)
1       21       A._A._Milne   51.0900   0.10700       POINT (0.107 51.09)
4       48  Abbotsford_House   55.5997  -2.78194  POINT (-2.78194 55.5997)
5       59          Aberdeen   57.1500  -2.11000       POINT (-2.11 57.15)
6       99   Angus,_Scotland   56.6667  -2.91667  POINT (-2.91667 56.6667)

#### Altnames dataframe

In [11]:
dAltnames = find_british_altnames(cursorGaz, timer)

alt_id = []
main_id = []
altname = []
source = []
for r in dAltnames:
    main_id.append(dAltnames[r][2])
    alt_id.append(r)
    altname.append(dAltnames[r][0])
    source.append(dAltnames[r][1])

altdf = pd.DataFrame(
    {'alt_id' : alt_id,
     'main_id': main_id,
     'altname': altname,
     'source': source
    })

Start altnames SQL query: 6.559561098983977 seconds

In [12]:
altdf.shape

(224386, 4)

In [13]:
altdf = altdf.groupby("main_id")['altname'].apply(', '.join)
altdf.head()

main_id
20    Aberdeenshire, Aberdeen County, Swydd Aberdeen...
21                                          A. A. Milne
23                                Azincourt, Asincurtis
25    Achill Island, Acaill, Achill, Wyspa Achill, A...
48             Abbotsford House, Abbotsford, Clartyhole
Name: altname, dtype: object

#### Joint locations and altnames dataframe

In [14]:
britdf = pd.merge(locdf, altdf, how='left', on='main_id')
britdf = britdf[britdf.altname.notnull()]
# britdf.head()

# Example of multiple altnames:
britdf[britdf['main_id'] == 20]

,main_id,wiki_title,wiki_lat,wiki_lon,page_len,type_loc,population,altname
63940,20,Aberdeenshire,57.151,-2.123,30952,adm2nd,NaN,"Aberdeenshire, Aberdeen County, Swydd Aberdeen..."

In [15]:
altdf.shape

(206134,)

In [16]:
ecef = pyproj.Proj(proj='geocent', ellps='WGS84', datum='WGS84')
lla = pyproj.Proj(proj='latlong', ellps='WGS84', datum='WGS84')
x, y, z = pyproj.transform(lla, ecef, 
                           gb1900df["longitude"].to_numpy(), 
                           gb1900df["latitude"].to_numpy(), 
                           np.zeros(len(gb1900df["latitude"])), 
                           radians=False)

In [17]:
gb1900df["x"] = x
gb1900df["y"] = y
gb1900df["z"] = z

In [18]:
ecef = pyproj.Proj(proj='geocent', ellps='WGS84', datum='WGS84')
lla = pyproj.Proj(proj='latlong', ellps='WGS84', datum='WGS84')
x, y, z = pyproj.transform(lla, ecef, 
                           britdf["wiki_lon"].to_numpy(), 
                           britdf["wiki_lat"].to_numpy(), 
                           np.zeros(len(britdf["wiki_lat"])), 
                           radians=False)

In [19]:
britdf["x"] = x
britdf["y"] = y
britdf["z"] = z

In [20]:
kdtree = spatial.cKDTree(gb1900df[["x", "y", "z"]].to_numpy())

In [21]:
wikix = britdf.iloc[0]['x']
wikiy = britdf.iloc[0]['y']
wikiz = britdf.iloc[0]['z']

In [22]:
num_neighbors = 5000
distance_upper_bound = 5000

In [23]:
all_dists, all_indxs = kdtree.query(britdf[['x', 'y', 'z']].to_numpy(), 
                                    k=num_neighbors, 
                                    distance_upper_bound=distance_upper_bound)
print(all_dists)
print(all_indxs)
"""
for ind in all_indxs:
    print()
"""

[[ 25.52332013  64.86583931  82.02319054 ...          inf          inf
           inf]
 [ 27.70722677 115.48635185 117.68556333 ...          inf          inf
           inf]
 [ 60.34202469  74.3805534  101.32354039 ...          inf          inf
           inf]
 ...
 [         inf          inf          inf ...          inf          inf
           inf]
 [         inf          inf          inf ...          inf          inf
           inf]
 [         inf          inf          inf ...          inf          inf
           inf]]
[[ 151327  151331  151340 ... 2552459 2552459 2552459]
 [ 151288  231738  231737 ... 2552459 2552459 2552459]
 [ 323101  231865  323102 ... 2552459 2552459 2552459]
 ...
 [2552459 2552459 2552459 ... 2552459 2552459 2552459]
 [2552459 2552459 2552459 ... 2552459 2552459 2552459]
 [2552459 2552459 2552459 ... 2552459 2552459 2552459]]

'\nfor ind in all_indxs:\n    print()\n'

In [24]:
np.shape(all_indxs)

(206134, 5000)

In [25]:
britdf.iloc[160000:160001]

,main_id,wiki_title,wiki_lat,wiki_lon,page_len,type_loc,population,altname,x,y,z
161604,931353,Gokewell_Priory,53.5811,-0.580901,1146,mountain,NaN,Gokewell Priory,3.794639e+06,-38473.779895,5.109201e+06

In [26]:
all_dists[160000, 0:1000]

array([ 173.35536901,  214.39066138,  241.76762079,  490.95110395,
        583.13424777,  620.8630507 ,  707.58446613,  750.23697501,
        784.90156888,  833.29580284,  958.30419265,  976.68347796,
        981.46100176, 1008.53842387, 1087.27340403, 1219.79935363,
       1224.8378432 , 1229.29652457, 1242.70706693, 1245.20754843,
       1245.26788997, 1275.9731967 , 1380.55732223, 1384.97086143,
       1478.76681487, 1484.16840743, 1499.80656503, 1509.68456288,
       1524.01369512, 1525.93324178, 1526.35104815, 1535.00004561,
       1548.67625682, 1560.94471463, 1563.44508144, 1581.62153865,
       1595.11075907, 1601.91853774, 1613.98909252, 1632.99767298,
       1637.24716534, 1637.99665557, 1663.63048035, 1685.21054265,
       1691.80819175, 1708.89656475, 1746.02688125, 1747.48543838,
       1750.69532623, 1778.38139785, 1787.64510672, 1802.83429904,
       1826.52276753, 1835.00936609, 1836.4615892 , 1847.71455192,
       1860.73731872, 1862.28109927, 1866.59393338, 1867.1071352 ,
       1892.32764674, 1894.18379827, 1915.36594499, 1952.24360757,
       1978.12682769, 1981.10001463, 1987.14214358, 1987.81581171,
       1992.08111952, 2009.90166968, 2012.3169018 , 2016.64459142,
       2024.44172265, 2030.34496368, 2031.76186211, 2032.31586421,
       2033.24362295, 2057.84968759, 2102.11808475, 2114.67495012,
       2122.69327623, 2127.05103947, 2131.19343493, 2134.16507697,
       2136.0466112 , 2139.65915815, 2143.56446904, 2152.34897943,
       2157.63340113, 2158.59639388, 2161.26880093, 2166.90745396,
       2173.7193325 , 2175.62284449, 2188.60980996, 2206.99060259,
       2212.85194639, 2216.93507215, 2230.3204982 , 2235.73106516,
       2235.85251794, 2250.69046846, 2263.38894299, 2263.61462567,
       2267.46507481, 2292.21363709, 2298.50697209, 2302.4374589 ,
       2304.72951638, 2310.9628983 , 2322.18256442, 2339.58233599,
       2342.8062588 , 2346.89894932, 2348.36904799, 2353.23218816,
       2353.86594145, 2354.02156271, 2357.68122146, 2365.01720286,
       2371.72754456, 2384.68431776, 2390.62396126, 2403.1707516 ,
       2409.11711167, 2415.82692365, 2419.48906415, 2426.69070119,
       2438.00124633, 2439.00419031, 2440.57914687, 2447.42181323,
       2450.18923657, 2452.18492116, 2460.12434242, 2460.92700579,
       2467.68090688, 2471.69873278, 2476.27383836, 2486.98073689,
       2491.48043145, 2496.96656088, 2500.05242286, 2502.46772367,
       2507.70360415, 2519.29135509, 2520.40185024, 2523.11640566,
       2523.31342222, 2532.16630628, 2539.64444457, 2551.17297015,
       2552.78581311, 2558.72269564, 2570.04910616, 2577.74057003,
       2586.25729924, 2587.82694177, 2600.21794885, 2602.39409246,
       2605.22219045, 2605.5326039 , 2615.23168045, 2624.87904138,
       2630.71338669, 2635.32401033, 2635.43501594, 2638.78345967,
       2640.36572563, 2640.9506737 , 2645.6949453 , 2647.06604311,
       2656.5869968 , 2673.11374151, 2677.65475914, 2680.42264706,
       2680.99523279, 2682.77975435, 2686.3888891 , 2697.1373267 ,
       2704.62425357, 2706.0615328 , 2708.35314161, 2715.09069154,
       2715.49410994, 2716.94923127, 2731.05965004, 2735.40592057,
       2736.30522664, 2737.94074155, 2749.43864568, 2761.25180412,
       2761.28721388, 2782.9448025 , 2785.82666436, 2787.9145451 ,
       2789.35694696, 2790.13103252, 2795.64139354, 2797.57068918,
       2805.31188242, 2807.66410782, 2808.01693995, 2809.84659982,
       2813.67615622, 2815.98047805, 2826.46131313, 2842.20752963,
       2848.5130592 , 2850.37982173, 2851.04600801, 2853.36860427,
       2863.71651911, 2875.20693379, 2878.29226818, 2890.73192205,
       2893.98829794, 2896.61635465, 2899.50127116, 2906.30949045,
       2919.94314933, 2921.31934931, 2922.00405904, 2931.7609943 ,
       2938.0117489 , 2939.99518249, 2940.80542547, 2943.35058913,
       2954.72674917, 2966.36617883, 2966.87436649, 2972.33258292,
       2974.851383  , 2978.44076649, 2982.58478788, 2984.4051587 ,
       2984.50181002, 2985.26820332, 2990.66995855, 2994.74545274,
       3000.3508432 , 3008.81355159, 3011.10286749, 3043.60682313,
       3045.79296073, 3055.27663253, 3056.08136315, 3057.80036835,
       3059.45859482, 3062.01236978, 3066.84772985, 3071.05104233,
       3074.36096988, 3077.83821835, 3085.21159527, 3086.28803368,
       3087.74261237, 3103.73011312, 3110.0054079 , 3110.84780282,
       3111.28368762, 3112.85857124, 3140.84261249, 3158.41582641,
       3171.84014451, 3178.33847694, 3196.03846463, 3214.2168497 ,
       3214.28459036, 3217.50406008, 3222.62822056, 3226.86583902,
       3230.08641189, 3230.56990764, 3235.96576214, 3257.91882421,
       3264.04179313, 3264.42104661, 3272.82917038, 3276.65293793,
       3277.4528372 , 3286.09347328, 3287.70597036, 3295.71326849,
       3309.0381326 , 3324.17463024, 3343.83997597, 3349.85457225,
       3371.26434125, 3372.18466276, 3380.28359673, 3382.27667266,
       3390.03102272, 3394.56224634, 3396.40377046, 3398.57121604,
       3399.11580913, 3399.37620345, 3401.84380142, 3420.45702139,
       3428.50057687, 3435.77447307, 3448.24383196, 3453.51059949,
       3456.53981448, 3463.49592011, 3478.4085012 , 3480.8114283 ,
       3485.67094101, 3496.50903606, 3503.22011165, 3513.98780695,
       3515.42021978, 3526.55498948, 3528.91958071, 3535.49833548,
       3535.70103532, 3539.81712666, 3542.11150985, 3550.36006492,
       3551.69798458, 3555.91283966, 3575.33399058, 3575.83204507,
       3582.64044341, 3584.44029578, 3588.49626248, 3594.16815045,
       3597.5402393 , 3598.12538465, 3609.21746774, 3612.37851878,
       3620.70638075, 3640.92721552, 3643.15560363, 3665.33433162,
       3674.13687459, 3682.51763444, 3687.84149167, 3691.64102397,
       3694.57235717, 3699.0740267 , 3705.72044829, 3717.08781001,
       3718.50814993, 3724.9178982 , 3731.34305849, 3731.74376059,
       3734.84187959, 3740.82239927, 3745.50785016, 3745.86441447,
       3746.4864801 , 3749.09597975, 3756.28262837, 3758.03947445,
       3760.30384541, 3763.91789964, 3764.8259211 , 3769.01145485,
       3773.41038723, 3781.62911087, 3785.09050479, 3791.02031371,
       3791.65491539, 3793.91677586, 3797.75718607, 3803.79303908,
       3805.87857646, 3807.54449873, 3807.84575725, 3809.93661484,
       3811.08969565, 3813.71145066, 3822.05823757, 3823.64961999,
       3824.19473302, 3825.81065873, 3828.19985306, 3829.21138361,
       3829.63407967, 3831.59997075, 3839.23972136, 3844.02704107,
       3847.41280816, 3855.07481223, 3870.51673439, 3875.40129636,
       3882.8199129 , 3884.33973443, 3886.52186263, 3887.53618698,
       3892.88277517, 3897.5033019 , 3909.26565546, 3911.12335365,
       3911.35125479, 3911.41348013, 3917.37510451, 3924.00067077,
       3931.73599396, 3946.78676164, 3952.24642117, 3956.98688539,
       3964.18059875, 3964.77105313, 3967.87478228, 3970.16711692,
       3973.77712267, 3974.95926201, 3982.15474515, 3984.45046758,
       3998.44824154, 4001.28811321, 4008.20583927, 4009.68177881,
       4015.09626042, 4021.47567089, 4022.01402637, 4030.76098295,
       4035.46544996, 4039.19452707, 4055.69827067, 4058.45884822,
       4064.88812113, 4076.14934309, 4076.51554031, 4078.63978309,
       4080.1512392 , 4095.41714935, 4097.29700278, 4103.67219331,
       4107.19175808, 4114.28886918, 4114.51324969, 4117.72719697,
       4119.35835086, 4124.96058092, 4126.46004957, 4126.90075743,
       4136.86264134, 4137.36128366, 4154.15066799, 4165.67863862,
       4172.97258751, 4174.36112329, 4197.75506976, 4203.01753898,
       4210.85155711, 4212.76301348, 4215.18498557, 4220.73404952,
       4227.31365103, 4228.99712693, 4236.52742846, 4238.37654688,
       4245.47301928, 4251.68652707, 4255.2069893 , 4261.59306271,
       4265.27418215, 4267.13255169, 4267.55431757, 4269.04251568,
       4272.98117305, 4279.11887609, 4281.98778535, 4286.77221905,
       4286.77693641, 4287.82653405, 4288.34458481, 4292.62295594,
       4293.43251231, 4293.9583124 , 4297.02627738, 4298.2221415 ,
       4299.46899627, 4299.90394364, 4302.05957342, 4303.58176928,
       4311.22258421, 4314.23825272, 4316.12143052, 4316.8192758 ,
       4319.8766608 , 4322.3152792 , 4331.00821349, 4332.32692976,
       4340.6202307 , 4343.77599236, 4344.72803136, 4357.09971668,
       4360.03511587, 4360.09093754, 4360.53547485, 4364.67263585,
       4370.67102106, 4375.45154079, 4377.32335801, 4377.93250209,
       4379.45870152, 4382.46895267, 4384.44289017, 4385.3013299 ,
       4386.66374857, 4393.54846684, 4399.76364946, 4404.06852203,
       4410.78201527, 4411.59022502, 4422.29441815, 4426.86129538,
       4427.36129002, 4429.25306209, 4430.36465401, 4435.62520114,
       4435.63599975, 4441.15733531, 4444.50606511, 4448.21999236,
       4452.36329995, 4458.83080363, 4459.1786846 , 4462.99871393,
       4463.45500034, 4463.92955077, 4469.99922168, 4473.36968086,
       4480.48067885, 4483.79702646, 4489.7108804 , 4490.13895237,
       4491.79961584, 4500.90895766, 4505.86468345, 4506.5113156 ,
       4510.00384854, 4512.11723076, 4514.66658529, 4521.04875823,
       4526.54869595, 4534.48168492, 4541.53916031, 4543.26655449,
       4546.84811476, 4549.5641954 , 4556.09921569, 4563.47604167,
       4566.08044656, 4569.10448988, 4571.85072863, 4577.36560128,
       4577.50661904, 4580.16954685, 4595.97414423, 4600.58133471,
       4605.05249615, 4608.0194155 , 4608.84215878, 4609.84344859,
       4615.37447066, 4616.73580265, 4618.64684211, 4619.20214752,
       4623.11399207, 4631.25366326, 4631.85643765, 4637.23933124,
       4639.65605464, 4640.97047483, 4646.27118098, 4647.40213537,
       4647.85821003, 4652.09099887, 4664.22895228, 4666.62167148,
       4667.30991388, 4667.64875041, 4671.90197429, 4674.49632704,
       4676.30572399, 4678.70674114, 4682.27986095, 4682.82830681,
       4687.09290223, 4687.33915739, 4687.82922622, 4688.14208925,
       4690.83647158, 4693.48104923, 4694.33784823, 4702.67483332,
       4705.87429967, 4707.63106861, 4707.84141117, 4709.15884764,
       4712.24476065, 4714.43840775, 4720.48488122, 4723.87121117,
       4724.45740035, 4725.40083415, 4725.72104014, 4726.47638434,
       4726.50800332, 4732.25978602, 4734.75757291, 4735.18000484,
       4735.59323371, 4745.33028302, 4747.09887342, 4752.20679257,
       4754.13695326, 4755.41715769, 4756.02176986, 4762.11689472,
       4772.43931863, 4783.62911764, 4788.55974838, 4794.81983499,
       4798.02127073, 4798.09703561, 4813.39830964, 4816.18517323,
       4819.16022003, 4820.78356959, 4821.48979829, 4822.48105544,
       4831.01083705, 4833.03516605, 4850.43877942, 4853.86499078,
       4853.98108942, 4856.08448817, 4856.13457756, 4857.56281827,
       4861.15058171, 4863.85560135, 4867.61146871, 4870.52265974,
       4880.96742192, 4882.93205445, 4885.58212707, 4886.58279868,
       4888.25232432, 4890.13985078, 4893.24075161, 4894.94497302,
       4906.70567372, 4911.11747306, 4914.26915641, 4917.35459449,
       4922.97090512, 4925.57542055, 4926.99115733, 4928.71537622,
       4929.10201863, 4935.39186439, 4936.01720902, 4938.19694093,
       4939.94317398, 4940.57880961, 4941.06083338, 4945.11598631,
       4949.04587035, 4956.99938787, 4957.72995767, 4959.13723684,
       4961.14056675, 4965.0916391 , 4968.51586105, 4975.66594065,
       4978.14868612, 4980.13362517, 4981.76620786, 4985.32273493,
       4988.73826899, 4990.29237158, 4998.25205376,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf,
                 inf,           inf,           inf,           inf])

In [27]:
qindx = 160000

In [28]:
def cleanup(corpus):
    #corpus = [re.sub(r'[\.,\(\)\'&:\[\]]', '', element,
    #                 flags=re.IGNORECASE) for element in corpus]
    #corpus = [re.sub(r'\bthe\b', '', element, flags=re.IGNORECASE)
    #          for element in corpus]
    #corpus = [re.sub(r'\band\b', '', element, flags=re.IGNORECASE)
    #          for element in corpus]
    #corpus = [re.sub(r'[\|-]', ' ', element, flags=re.IGNORECASE)
    #          for element in corpus]
    corpus = [re.sub(r'[\.,\(\)\'\":\[\]-]', '', element,
                     flags=re.IGNORECASE) for element in corpus]
    corpus = [re.sub(r'\bthe\b', '', element, flags=re.IGNORECASE)
              for element in corpus]
    corpus = [re.sub(r'\betc\b', '', element, flags=re.IGNORECASE)
              for element in corpus]
    corpus = [re.sub(r'\&', 'and', element, flags=re.IGNORECASE)
              for element in corpus]
    corpus = [re.sub(r'\s+', ' ', element, flags=re.IGNORECASE)
              for element in corpus]
    corpus = [re.sub(r'\bst\b', 'saint', element, flags=re.IGNORECASE)
              for element in corpus]
    corpus = [re.sub(r'\bst\b', 'saint', element, flags=re.IGNORECASE)
              for element in corpus]
    corpus = [element.strip() for element in corpus]
    corpus = [element.lower() for element in corpus]
    
    return corpus

In [29]:
gb1900df["text2match"] = cleanup(gb1900df['final_text'])
britdf["text2match"] = cleanup(britdf["altname"])

In [30]:
gb1900df.head()

,pin_id,final_text,nation,local_authority,parish,osgb_east,osgb_north,latitude,longitude,notes,x,y,z,text2match
0,52b34d8b695fe90005004e1e,F. P.,Wales,Powys,Llansilin,320836.712742,327820.182715,52.842050,-3.176744,NaN,3.854770e+06,-213945.645048,5.059946e+06,f p
1,5800a6b92c66dcab3d061796,Parly. & Munl Boro. By.,England,City of London,NaN,531794.825962,180705.741898,51.509918,-0.102246,NaN,3.977779e+06,-7098.456811,4.969049e+06,parly and munl boro by
2,5800a6782c66dcab3d061786,S. Ps.,England,City of London,NaN,531736.217116,180725.027730,51.510105,-0.103083,NaN,3.977762e+06,-7156.526053,4.969062e+06,s ps
3,57f684f42c66dcab3d01c0dd,Southwark Bridge Stairs,England,City of London,NaN,532199.584123,180696.934434,51.509744,-0.096420,NaN,3.977794e+06,-6694.027028,4.969037e+06,southwark bridge stairs
4,57f685002c66dcab3d01c0e9,St. Paul's Pier,England,City of London,NaN,531987.486097,180745.664556,51.510232,-0.099456,NaN,3.977752e+06,-6904.747577,4.969071e+06,saint pauls pier

In [31]:
britdf.head()

,main_id,wiki_title,wiki_lat,wiki_lon,page_len,type_loc,population,altname,x,y,z,text2match
0,1188030,Grade_II*_listed_buildings_in_Tyne_and_Wear,54.9774,-1.76524,87691,landmark,NaN,The Rectory,3.666913e+06,-113010.602692,5.199940e+06,rectory
1,1188031,Grade_II*_listed_buildings_in_Tyne_and_Wear,54.9396,-1.59225,87691,landmark,NaN,Underhill,3.670682e+06,-102034.526035,5.197524e+06,underhill
2,1188032,Grade_II*_listed_buildings_in_Tyne_and_Wear,54.9609,-1.60517,87691,landmark,NaN,Walker Terrace,3.668718e+06,-102807.873722,5.198886e+06,walker terrace
4,1188035,Grade_II*_listed_buildings_in_Tyne_and_Wear,54.9740,-1.58059,87691,landmark,NaN,Byker Neighbourhood Estate Office,3.667568e+06,-101201.039814,5.199723e+06,byker neighbourhood estate office
5,1188037,Grade_II*_listed_buildings_in_Tyne_and_Wear,54.9745,-1.57448,87691,landmark,NaN,Lychgate Infront of St Lawrence s School,3.667533e+06,-100808.678779,5.199755e+06,lychgate infront of saint lawrence s school

In [32]:
import importlib

import recordlinkage
importlib.reload(recordlinkage)

In [49]:

# In the following list, first specify the method then the weight:
# Algorithms: 
# 'jaro','jarowinkler', 'levenshtein', 'damerau_levenshtein', 
# 'qgram', 'cosine', 'smith_waterman'
# 'longest_common_substring', 
list_methods_weights = ['jarowinkler', 0,
                        'damerau_levenshtein', 0,
                        'qgram', 1,
                        'cosine', 0,
                        # For numeric comparisons (see the figure above), the format is:
                        # date_METHOD, e.g.:
                        # date_linear
                        # date_gauss
                        'distance_gauss', 1
                       ]
list_methods = []
list_weights = []
for i, ilm in enumerate(list_methods_weights):
    if i % 2 == 0:
        list_methods.append(ilm)
    else:
        list_weights.append(ilm)
print("List of methods: ", list_methods)
print("List of weights: ", list_weights)

List of methods:  ['jarowinkler', 'damerau_levenshtein', 'qgram', 'cosine', 'distance_gauss']
List of weights:  [0, 0, 1, 0, 1]

In [50]:
import warnings
warnings.filterwarnings("ignore")

In [51]:
for one_brit_index, one_brit in britdf.iterrows():
    #print(one_brit_index)
    if one_brit_index > 1000:
        break
    indexer = recordlinkage.Index()
    indexer.full()
    
    one_brit['distance'] = 0.1
    #one_brit['distance'] = one_brit['distance'].astype(float)
    one_brit_df = pd.DataFrame(one_brit).T
    one_brit_df["distance"] = one_brit_df["distance"].astype(float)
    
    gb1900df_neighbours = gb1900df.iloc[all_indxs[one_brit_index, 
                                                  all_dists[one_brit_index] <= distance_upper_bound]]
    gb1900df_neighbours['distance'] = list(all_dists[one_brit_index, all_dists[one_brit_index] <= distance_upper_bound])
    gb1900df_neighbours['distance'] = gb1900df_neighbours['distance'].astype(float)
    
    candidate_links = indexer.index(one_brit_df, gb1900df_neighbours)

    compare_cl = recordlinkage.Compare()
    for imethod in list_methods:
        if not 'distance' in imethod:
            compare_cl.string('text2match', 'text2match', method=imethod, label=imethod)
        #else:
        #    compare_cl.geo('wiki_lat', 'wiki_lon', "latitude", "longitude",
        #                       method=imethod.split("_")[1], 
        #                       offset=500.0, scale=1000.0, missing_value=0.5, label=imethod)
        else:
            compare_cl.numeric('distance', 'distance', method=imethod.split("_")[1], 
                               offset=1000.0, scale=5000.0, missing_value=0.5, label=imethod)


    # The comparison vectors
    rl_features = compare_cl.compute(candidate_links, one_brit_df, gb1900df_neighbours)
    
    for imatch_grp, match_grp in rl_features.groupby(level=0):
        match_grp = match_grp.reset_index()
    
        match_grp['overall_score'] = \
            match_grp.apply(lambda row: 
                            np.sum([list_weights[i]*row[list_methods[i]] for i in range(len(list_methods))])/np.sum(list_weights),
                            axis=1)
        max_id = match_grp['overall_score'].idxmax()
        max_score = match_grp['overall_score'].max()
        if max_score > 0.9:
            print("\n=============")
            print("Overall score                 : {}".format(round(match_grp.iloc[max_id].overall_score, 3)))
            print(np.round(np.array([match_grp.loc[max_id, i] for i in list_methods]), 3))
            print("Wikipedia (altname) title     : {}".format(one_brit["altname"]))
            print("GB1900 (final_text)           : {}".format(gb1900df.iloc[int(match_grp.iloc[max_id]['level_1'])].final_text))

=============
Overall score                 : 0.913
[1.    1.    1.    1.    0.825]
Wikipedia (altname) title     : The Rectory
GB1900 (final_text)           : Rectory

=============
Overall score                 : 1.0
[1. 1. 1. 1. 1.]
Wikipedia (altname) title     : Underhill
GB1900 (final_text)           : Underhill

=============
Overall score                 : 0.961
[1.    1.    1.    1.    0.923]
Wikipedia (altname) title     : South Lodge
GB1900 (final_text)           : South Lodge

=============
Overall score                 : 0.938
[1.    1.    1.    1.    0.875]
Wikipedia (altname) title     : The Red House
GB1900 (final_text)           : Red House

=============
Overall score                 : 0.923
[1.    1.    1.    1.    0.846]
Wikipedia (altname) title     : Emmanuel Church
GB1900 (final_text)           : Emmanuel Church

=============
Overall score                 : 0.924
[0.933 0.9   0.848 0.894 1.   ]
Wikipedia (altname) title     : Moat House
GB1900 (final_text)           : Boat House

=============
Overall score                 : 0.921
[1.    1.    1.    1.    0.842]
Wikipedia (altname) title     : The Grove
GB1900 (final_text)           : The Grove

=============
Overall score                 : 0.924
[0.933 0.9   0.848 0.894 1.   ]
Wikipedia (altname) title     : The Moat House
GB1900 (final_text)           : Boat House

=============
Overall score                 : 1.0
[1. 1. 1. 1. 1.]
Wikipedia (altname) title     : Balder Bridge
GB1900 (final_text)           : Balder Bridge

=============
Overall score                 : 0.993
[1.    1.    1.    1.    0.986]
Wikipedia (altname) title     : Aykley Heads
GB1900 (final_text)           : Aykley Heads

=============
Overall score                 : 0.914
[1.    1.    1.    1.    0.828]
Wikipedia (altname) title     : Burn Hall
GB1900 (final_text)           : Burn Hall

=============
Overall score                 : 0.935
[0.752 0.227 0.87  0.967 1.   ]
Wikipedia (altname) title     : Church of Holy Trinity
GB1900 (final_text)           : Holy Trinity Church

=============
Overall score                 : 0.957
[1.    1.    1.    1.    0.913]
Wikipedia (altname) title     : Friends Meeting House
GB1900 (final_text)           : Friends Meeting House

=============
Overall score                 : 1.0
[1. 1. 1. 1. 1.]
Wikipedia (altname) title     : The Holme
GB1900 (final_text)           : The Holme

=============
Overall score                 : 0.935
[1.    1.    1.    1.    0.871]
Wikipedia (altname) title     : Crow Trees
GB1900 (final_text)           : Crow Trees

=============
Overall score                 : 1.0
[1. 1. 1. 1. 1.]
Wikipedia (altname) title     : Park House
GB1900 (final_text)           : Park House

=============
Overall score                 : 0.958
[0.982 0.957 0.917 0.967 1.   ]
Wikipedia (altname) title     : St Margaret s Church
GB1900 (final_text)           : St. Margaret's Church

=============
Overall score                 : 0.95
[0.978 0.947 0.9   0.961 1.   ]
Wikipedia (altname) title     : St Mary s Church
GB1900 (final_text)           : St. Mary's Church

In [45]:
one_brit_df

,main_id,wiki_title,wiki_lat,wiki_lon,page_len,type_loc,population,altname,x,y,z,text2match,distance
10,1188043,Grade_II*_listed_buildings_in_Tyne_and_Wear,55.0352,-1.61272,87691,landmark,NaN,Gosforth House,3.66193e+06,-103101,5.20363e+06,gosforth house,0.1

In [52]:
gb1900df_neighbours

,pin_id,final_text,nation,local_authority,parish,osgb_east,osgb_north,latitude,longitude,notes,x,y,z,text2match,distance
1889820,58e0e6832c66dcf8fa097757,Edmond's Farm,England,Mid Sussex,Balcombe,532523.578273,130393.437694,51.057598,-0.110400,NaN,4.017041e+06,-7740.200357,4.937575e+06,edmonds farm,33.729218
1584236,58e0e6772c66dcf8fa097750,Springs,England,Mid Sussex,Balcombe,532558.322500,130300.160758,51.056752,-0.109938,NaN,4.017115e+06,-7707.996047,4.937515e+06,springs,105.171953
1583539,58e0e66c2c66dcf8fa09774c,pearment's farm,England,Mid Sussex,Balcombe,532694.138114,130284.889017,51.056583,-0.108007,NaN,4.017130e+06,-7572.624148,4.937504e+06,pearments farm,224.213338
1583538,58e0e6592c66dcf8fa097741,westhill farm,England,Mid Sussex,Ardingly,532816.864256,130369.081110,51.057311,-0.106226,NaN,4.017067e+06,-7447.638518,4.937555e+06,westhill farm,325.207259
1584235,58e0e5da2c66dcf8fa097700,Five Acre Wood,England,Mid Sussex,Balcombe,532563.574714,130711.097675,51.060444,-0.109713,NaN,4.016795e+06,-7691.587729,4.937774e+06,five acre wood,337.121402
1583537,58e0e6392c66dcf8fa09772d,little wood,England,Mid Sussex,Ardingly,532828.449523,130503.689182,51.058518,-0.106012,NaN,4.016962e+06,-7432.401070,4.937639e+06,little wood,357.972735
1583555,58e0e64d2c66dcf8fa09773c,little westbrook wood,England,Mid Sussex,Ardingly,532857.772037,130402.022743,51.057598,-0.105631,NaN,4.017042e+06,-7405.845151,4.937575e+06,little westbrook wood,366.438102
1583540,58e0e6a12c66dcf8fa097762,west hill,England,Mid Sussex,Balcombe,532733.547750,130683.575507,51.060157,-0.107299,NaN,4.016820e+06,-7522.398378,4.937754e+06,west hill,386.687921
1583536,58e0e5ef2c66dcf8fa097707,great westbrook wood,England,Mid Sussex,Ardingly,532810.337435,130681.422884,51.060120,-0.106205,NaN,4.016824e+06,-7445.683624,4.937751e+06,great westbrook wood,437.316944
1584240,58e0eb0c2c66dcf8fa097ac7,Great Burrow Wood,England,Mid Sussex,Balcombe,532058.427658,130239.709041,51.056323,-0.117089,NaN,4.017151e+06,-8209.425571,4.937485e+06,great burrow wood,456.265604
1584237,58e0e72c2c66dcf8fa0977a4,Flatfield Wood,England,Mid Sussex,Balcombe,532226.779427,130790.247619,51.061233,-0.114487,NaN,4.016726e+06,-8026.162063,4.937829e+06,flatfield wood,487.115361
1583553,58e0e5cd2c66dc060a00004c,W,England,Mid Sussex,Ardingly,532809.671934,130765.813903,51.060879,-0.106183,NaN,4.016758e+06,-7444.057644,4.937804e+06,w,498.543770
1583552,58e0e5c62c66dcf8fa0976f8,lullings farm,England,Mid Sussex,Ardingly,532799.676854,130803.446314,51.061219,-0.106312,NaN,4.016729e+06,-7453.028795,4.937828e+06,lullings farm,522.136523
1583562,58e0f29f2c66dcf8fa09804c,Westhill House,England,Mid Sussex,Balcombe,532889.586711,130042.664713,51.054361,-0.105309,NaN,4.017322e+06,-7383.793779,4.937348e+06,westhill house,522.646377
1889821,58e0e8f02c66dcf8fa097913,Sedgy Wood,England,Mid Sussex,Balcombe,532037.784776,130664.616248,51.060147,-0.117229,NaN,4.016820e+06,-8218.527596,4.937753e+06,sedgy wood,535.150126
1584217,58e7e8ad2c66dcf8fa0b5896,shill lane,England,Mid Sussex,Ardingly,532374.119170,129854.961666,51.052793,-0.112728,NaN,4.017457e+06,-7904.246837,4.937239e+06,shill lane,539.866638
1584257,5973282c2c66dc085a147e71,F. B.,England,Mid Sussex,Ardingly,531971.975665,130075.044915,51.054863,-0.118382,NaN,4.017277e+06,-8300.329769,4.937383e+06,f b,603.774705
1584238,58e0e8342c66dcf8fa097862,Southfield Gill,England,Mid Sussex,Balcombe,532103.141647,130874.115266,51.062015,-0.116220,NaN,4.016658e+06,-8147.496369,4.937883e+06,southfield gill,627.491027
1583554,58e0e62e2c66dcf8fa097726,bramber wood,England,Mid Sussex,Ardingly,533111.250494,130535.730331,51.058741,-0.101967,NaN,4.016944e+06,-7148.791032,4.937655e+06,bramber wood,638.257202
1584251,58e0f2102c66dcf8fa097fe8,F. B.,England,Mid Sussex,Ardingly,532409.400851,129726.042260,51.051626,-0.112272,NaN,4.017558e+06,-7872.472623,4.937157e+06,f b,660.962677
1185527,58e0f2942c66dcf8fa098043,Spring,England,Mid Sussex,Ardingly,533053.048468,130005.975600,51.053993,-0.102991,NaN,4.017354e+06,-7221.363274,4.937323e+06,spring,675.393882
1582915,58e0e9102c66dcf8fa097927,W,England,Mid Sussex,Balcombe,531785.127163,130439.072937,51.058178,-0.120914,NaN,4.016990e+06,-8477.255351,4.937615e+06,w,709.259888
1582913,58e0e8fe2c66dcf8fa097918,Mill Pond,England,Mid Sussex,Balcombe,531784.071095,130509.951266,51.058815,-0.120903,NaN,4.016935e+06,-8476.386801,4.937660e+06,mill pond,719.514628
1583561,58e0f28c2c66dcf8fa09803e,W,England,Mid Sussex,Balcombe,533059.346510,129936.725303,51.053370,-0.102927,NaN,4.017408e+06,-7216.946653,4.937279e+06,w,721.194247
1584250,58e0f2022c66dcf8fa097fe0,Shill Brook,England,Mid Sussex,Balcombe,532177.289596,129696.084828,51.051410,-0.115592,NaN,4.017576e+06,-8105.347699,4.937142e+06,shill brook,754.515943
1584248,58e0f1ea2c66dcf8fa097fc9,Hook Wood,England,Mid Sussex,Balcombe,532380.210476,129617.230559,51.050655,-0.112728,NaN,4.017642e+06,-7904.610772,4.937089e+06,hook wood,772.738764
1583560,58e0f2852c66dcf8fa098037,Brook Cottage,England,Mid Sussex,Ardingly,533116.482860,129923.939422,51.053241,-0.102117,NaN,4.017419e+06,-7160.169739,4.937270e+06,brook cottage,774.461552
1185528,58e0f2b32c66dcf8fa09805c,Bushy Wood,England,Mid Sussex,Ardingly,533212.107145,130096.370189,51.054769,-0.100690,NaN,4.017287e+06,-7059.884776,4.937377e+06,bushy wood,774.748038
1584249,58e0f1f02c66dcf8fa097fd2,W,England,Mid Sussex,Balcombe,532437.271430,129607.436140,51.050554,-0.111918,NaN,4.017651e+06,-7847.827893,4.937082e+06,w,776.338821
1583563,58e0f2c82c66dcf8fa098066,Ardingly Brook,England,Mid Sussex,Ardingly,533146.344863,129962.229496,51.053579,-0.101677,NaN,4.017390e+06,-7129.274651,4.937294e+06,ardingly brook,777.426518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716309,5861bbe42c66dc10b804af02,F. P.,England,Mid Sussex,Cuckfield Rural,527677.713410,129245.236756,51.048375,-0.179912,NaN,4.017827e+06,-12616.236124,4.936930e+06,f p,4947.373387
1191238,58f324ee2c66dcf8fa0e3141,Stockard's Wood,England,Mid Sussex,West Hoathly,536235.892607,133619.106955,51.085719,-0.056247,NaN,4.014613e+06,-3941.106703,4.939540e+06,stockards wood,4950.256310
1188879,58ed4ff12c66dcf8fa0cc924,Old Quarry,England,Mid Sussex,Lindfield Rural,536405.018701,127341.351549,51.029261,-0.056198,NaN,4.019498e+06,-3942.461606,4.935593e+06,old quarry,4956.135403
1185157,58ecd7a22c66dcf8fa0ca033,Spring,England,Mid Sussex,Lindfield Rural,534878.413708,126038.560905,51.017912,-0.078439,NaN,4.020478e+06,-5504.079884,4.934798e+06,spring,4956.381789
1185433,58e100422c66dcf8fa09881d,Leamland Wood,England,Mid Sussex,Horsted Keynes,537323.278387,129260.668022,51.046291,-0.042384,NaN,4.018026e+06,-2972.315279,4.936784e+06,leamland wood,4960.416566
1583324,58e3c4fd2c66dcf8fa0a4ef7,Oldhouse,England,Mid Sussex,Cuckfield Rural,527652.482218,129291.892024,51.048800,-0.180255,NaN,4.017790e+06,-12640.195739,4.936959e+06,oldhouse,4961.477197
1185168,58efebfd2c66dcf8fa0d733e,The Welkin,England,Mid Sussex,Lindfield,534732.026192,125955.354771,51.017199,-0.080555,NaN,4.020540e+06,-5652.692906,4.934749e+06,welkin,4961.669137
1185386,589f36272c66dc8119081c64,F. P.,England,Mid Sussex,West Hoathly,537353.162199,131376.835963,51.065302,-0.041156,NaN,4.016381e+06,-2884.985143,4.938113e+06,f p,4962.747309
1583596,586800d32c66dc10b806dc92,Sand Pit,England,Mid Sussex,Slaugham,527689.480171,131629.936610,51.069805,-0.178903,NaN,4.015973e+06,-12539.724962,4.938428e+06,sand pit,4962.843770
1191277,58f324f22c66dcf8fa0e3143,F. P.,England,Mid Sussex,West Hoathly,536362.584828,133491.217340,51.084540,-0.054487,NaN,4.014715e+06,-3817.916715,4.939458e+06,f p,4965.690352
1191252,581de2d82c66dc2d4201b16c,F. P.,England,Mid Sussex,West Hoathly,536122.584440,133769.203059,51.087095,-0.057807,NaN,4.014494e+06,-4050.312484,4.939637e+06,f p,4966.272304
1191272,58f324cf2c66dcf8fa0e3130,F. B.,England,Mid Sussex,West Hoathly,536047.814335,133851.110652,51.087849,-0.058843,NaN,4.014429e+06,-4122.840981,4.939689e+06,f b,4968.718978
1718236,58e3c3982c66dcf8fa0a4e70,Dencombe Wood,England,Mid Sussex,Slaugham,527522.573648,130561.292387,51.060238,-0.181661,NaN,4.016800e+06,-12735.615275,4.937759e+06,dencombe wood,4973.435987
1188884,590099162c66dcf8fa10ce4f,woodsland cross,England,Mid Sussex,Lindfield Rural,536307.387701,127189.634840,51.027920,-0.057646,NaN,4.019614e+06,-4044.188044,4.935499e+06,woodsland cross,4975.376468
1716114,58a21a342c66dce64500052c,Oldhouse Warren,England,Mid Sussex,Turners Hill,529170.494890,134089.856286,51.091583,-0.156898,NaN,4.014093e+06,-10992.199966,4.939950e+06,oldhouse warren,4978.985122
1185406,58fa60f62c66dcf8fa0fa727,Air Shaft,England,Mid Sussex,West Hoathly,536985.621182,132527.569661,51.075731,-0.045962,NaN,4.015478e+06,-3221.193599,4.938842e+06,air shaft,4980.466242
1887534,58f324c12c66dc8105000033,Moat (Remains of),England,Mid Sussex,West Hoathly,535982.489183,133933.373882,51.088603,-0.059744,NaN,4.014363e+06,-4185.916986,4.939742e+06,moat remains of,4980.509476
1480441,58e3c8102c66dcf8fa0a5004,fish pond,England,Mid Sussex,Cuckfield,531016.329184,125625.383027,51.015091,-0.133617,NaN,4.020715e+06,-9376.546277,4.934601e+06,fish pond,4980.772516
1191273,58f324d52c66dcf8fa0e3135,Upper Lake,England,Mid Sussex,West Hoathly,536085.954862,133830.370053,51.087653,-0.058307,NaN,4.014446e+06,-4085.272403,4.939676e+06,upper lake,4981.708470
1478459,58efec202c66dcf8fa0d7351,Lindfield Place,England,Mid Sussex,Lindfield Rural,534838.889416,125986.677368,51.017455,-0.079021,NaN,4.020518e+06,-5545.003312,4.934766e+06,lindfield place,4983.180677
1583273,58348f0a2c66dc680e045828,F. P.,England,Mid Sussex,Cuckfield Rural,527669.416757,129124.206618,51.047289,-0.180073,NaN,4.017921e+06,-12627.816678,4.936854e+06,f p,4984.608801
1717341,589a4d132c66dc8119065a5c,F. P.,England,Mid Sussex,Cuckfield Rural,529910.720004,126112.665482,51.019721,-0.149195,NaN,4.020312e+06,-10468.703928,4.934925e+06,f p,4989.548041
1583695,58dfc1042c66dcf8fa09283e,Withypitts Pond,England,Mid Sussex,Turners Hill,533983.161310,135143.018849,51.099945,-0.087826,NaN,4.013379e+06,-6151.941910,4.940534e+06,withypitts pond,4990.113749
1583312,58e3c3a92c66dcf8fa0a4e76,Dencombe Farm,England,Mid Sussex,Slaugham,527502.291625,130407.735057,51.058862,-0.182004,NaN,4.016919e+06,-12760.062505,4.937663e+06,dencombe farm,4990.545525
1188498,58dfc0e02c66dcf8fa092819,Withypitts Pond,England,Mid Sussex,Turners Hill,533984.663617,135143.057877,51.099945,-0.087805,NaN,4.013379e+06,-6150.438871,4.940534e+06,withypitts pond,4990.600265
1086494,5840a2ef2c66dcd5d0027f52,P,England,Mid Sussex,Haywards Heath,533231.818469,125446.640272,51.012976,-0.102117,NaN,4.020902e+06,-7166.377112,4.934453e+06,p,4991.007331
1185389,58c705362c66dcf8fa01d56c,F. P.,England,Mid Sussex,West Hoathly,537318.703393,131654.253183,51.067803,-0.041542,NaN,4.016165e+06,-2911.903132,4.938288e+06,f p,4992.413950
1583314,58e3c3ca2c66dcf8fa0a4e85,Highbeeches,England,Mid Sussex,Slaugham,527522.723549,130859.893640,51.062922,-0.181553,NaN,4.016568e+06,-12727.357825,4.937947e+06,highbeeches,4992.999078
1583256,58348d0d2c66dc680e045638,Vine Cottage,England,Mid Sussex,Cuckfield Rural,528124.098940,127963.081035,51.036753,-0.174000,NaN,4.018834e+06,-12204.743474,4.936117e+06,vine cottage,4993.605789
1191509,585bcfac2c66dc10b802ec23,shagswell wood,England,Mid Sussex,West Hoathly,536677.748996,133105.933145,51.081002,-0.050136,NaN,4.015022e+06,-3513.288318,4.939211e+06,shagswell wood,4994.958129

In [ ]:
britdf.iloc[1]

In [ ]:
gb1900df.iloc[151288]

### Exploratory first step

In [ ]:
l_altname = []
l_wiki_title = []
l_gb1900text = []
l_gb1900lat = []
l_gb1900lon = []
l_wikilat = []
l_wikilon = []
for index, row in britdf.iloc[180100:180200].iterrows():
    for altnwiki in row['altname'].split(","):
        altnwiki = altnwiki.strip()
        matches = gb1900df[(gb1900df['final_text'].str.contains(row['altname'], case=False)) & (gb1900df['latitude'] >= row['wiki_lat'] - 0.0) & (gb1900df['latitude'] <= row['wiki_lat'] + 0.1) & (gb1900df['longitude'] >= row['wiki_lon'] - 0.1) & (gb1900df['longitude'] <= row['wiki_lon'] + 0.1)]
        for imatch, irow in matches.iterrows():
            l_altname.append(altnwiki)
            l_wiki_title.append(row['wiki_title'])
            l_gb1900text.append(irow['final_text'])
            l_gb1900lat.append(irow['latitude'])
            l_gb1900lon.append(irow['longitude'])
            l_wikilat.append(row['wiki_lat'])
            l_wikilon.append(row['wiki_lon'])
        if matches.empty:
            l_altname.append(altnwiki)
            l_wiki_title.append(row['wiki_title'])
            l_gb1900text.append('')
            l_gb1900lat.append('')
            l_gb1900lon.append('')
            l_wikilat.append(row['wiki_lat'])
            l_wikilon.append(row['wiki_lon'])

matchdf = pd.DataFrame(
        {'altname' : l_altname,
         'wiki_title': l_wiki_title,
         'gb1900text': l_gb1900text,
         'gb1900lat': l_gb1900lat,
         'gb1900lon': l_gb1900lon,
         'wiki_lat': l_wikilat,
         'wiki_lon': l_wikilon
        })

In [ ]:
matchdf.to_pickle("match09.pkl")

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)
matchdf = pd.read_pickle("match09.pkl")
matchdf

### Close DB connection

In [ ]:
# PostreSQL:
if(gazDB):
    cursorGaz.close()
    gazDB.close()